/* FullScrollPage.css */
html, body, #root {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }
  
  .FullScrollPage {
    overflow-y: scroll;
    height: 100%;
  }
  
  .content {
    margin-top: 64px; /* Adjust according to the height of your AppBar */
    scroll-snap-type: y mandatory;
  }
  
  .content > div {
    scroll-snap-align: start;
  }
  
  .FullScrollPage {
    scroll-behavior: smooth;
  }